<a href="https://colab.research.google.com/github/muzamil8888/SMIT-Assignment/blob/main/First_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Topic 1: VARIABLES

In [ ]:
# Assignment 1: Simple Calculator

num1 = 10
num2 = 5

print("Sum:", num1 + num2)
print("Difference:", num1 - num2)
print("Product:", num1 * num2)
print("Division:", num1 / num2)

In [ ]:
# Assignment 2: Personal Info Card

name = "Muzamil"
age = 19
hobby = "coding"

print(f"Hi, I’m {name}. I’m {age} years old and I love {hobby}.")

In [ ]:
# Assignment 3: Temperature Converter

celsius = 25
fahrenheit = (celsius * 9/5) + 32

print(f"Celsius: {celsius}°C")
print(f"Fahrenheit: {fahrenheit}°F")

In [ ]:
# Assignment 4: Area of Rectangle

length = 5
width = 10
area = length * width

print(f"Length = {length}, Width = {width}")
print(f"Area = {area}")

In [ ]:
# Assignment 5: Salary Increment

salary = 50000
new_salary = salary + (salary * 0.10)

print("Old Salary:", salary)
print("New Salary:", new_salary)

#Topic 2: TUPLES

In [ ]:
# Assignment 1: Favorite Fruits

fruits = ("apple", "banana", "mango", "orange", "grape")

print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])
print("Total number of fruits:", len(fruits))

In [ ]:
# Assignment 2: Tuple of Marks

marks = (78, 82, 90, 67, 88)
print("Highest marks:", max(marks))
print("Lowest marks:", min(marks))

In [ ]:
# Assignment 3: Tuple Slicing

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print("First 3 numbers:", numbers[:3])
print("Last 3 numbers:", numbers[-3:])
print("Middle 4 numbers:", numbers[3:7])

In [ ]:
# Assignment 4: Tuple Indexing

cities = ("Karachi", "Lahore", "Islamabad", "Peshawar", "Quetta")

print("City at index 2:", cities[2])
print("Last city:", cities[-1])

In [ ]:
# Assignment 5: Count & Find in Tuple

colors = ('red', 'blue', 'red', 'green', 'red')

print("Count of 'red':", colors.count('red'))
print("First index of 'red':", colors.index('red'))

#Topic 3: LISTS

In [ ]:
# Assignment 1: Student Names

students = ["Ali", "Sara", "Ahmed", "Fatima", "Bilal"]
students.append("Zara")
students.remove("Ahmed")

print("Updated Student List:", students)

In [ ]:
# Assignment 2: Shopping List

groceries = ["milk", "bread", "eggs", "rice", "sugar"]
groceries[0] = "butter"

print("Updated Shopping List:", groceries)
print("Total Items:", len(groceries))

In [ ]:
# Assignment 3: Sorting Practice

numbers = [45, 12, 78, 23, 56, 9]
print("Before Sorting:", numbers)

numbers.sort()
print("After Sorting:", numbers)

In [ ]:
# Assignment 4: Favorite Movies

movies = ["Inception", "Interstellar", "Titanic", "Avatar"]

print("First two movies:", movies[:2])
print("Last movie:", movies[-1])
print("Total movies:", len(movies))

In [ ]:
# Assignment 5: Sum of Numbers

numbers = [5, 10, 15, 20]

print("Total Sum:", sum(numbers))
print("Average:", sum(numbers)/len(numbers))

#Topic 4: SETS

In [ ]:
# Assignment 1: Unique Numbers

numbers = {1, 2, 2, 3, 4, 4, 5}
print("Unique Numbers:", numbers)

In [ ]:
# Assignment 2: Set Operations

A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference (A - B):", A - B)

In [ ]:
# Assignment 3: Adding & Removing

numbers = {2, 4, 6}
numbers.add(8)
numbers.remove(4)

print("Updated Set:", numbers)

In [ ]:
# Assignment 4: Membership Check

numbers = {1, 2, 3, 4, 5}
print(5 in numbers)

In [ ]:
# Assignment 5: Convert List to Set

numbers_list = [1, 2, 2, 3, 4, 4, 5]
numbers_set = set(numbers_list)

print("Original List:", numbers_list)
print("Set (No Duplicates):", numbers_set)

#Topic 5: DICTIONARIES

In [ ]:
# Assignment 1: Student Info

student = {
    "name": "Ali",
    "age": 20,
    "grade": "A"
}

print(f"{student['name']} is {student['age']} years old and got grade {student['grade']}.")

In [ ]:
# Assignment 2: Update Dictionary

car = {"brand": "Toyota", "year": 2020}
car["color"] = "Red"
car["year"] = 2022

print("Updated Dictionary:", car)

In [ ]:
# Assignment 3: Loop Through Dictionary

countries = {
    "Pakistan": "Islamabad",
    "Turkey": "Ankara",
    "Japan": "Tokyo"
}

for country, capital in countries.items():
    print(f"{country} → {capital}")

In [ ]:
# Assignment 4: Dictionary of Prices

prices = {
    "apple": 1.5,
    "banana": 0.75,
    "orange": 1.2
}

product = input("Enter the product name (apple, banana, orange): ").lower()

if product in prices:
    print(f"The price of {product} is ${prices[product]}")
else:
    print("Sorry, that product is not available.")

In [ ]:
# Assignment 5: Nested Dictionary

students = {
    "Ali": {"age": 18, "grade": "A"},
    "Sara": {"age": 19, "grade": "B"}
}

for name, info in students.items():
    print(f"{name} got grade {info['grade']}.")